<% include ../partials/HEAD %>

    <div id="wrap">
        <div id="main">
            <div class="ui main text container segment">
                <div class="ui huge header"> Edit <%=thisPin.properties.title%> </div>

                <!--Method override for a put request we need to add a ?_method=PUT to the end of our action-->
                <form class="ui form" action="/cem_map/<%=thisPin.properties.self._id%>?_method=PUT" method="POST">

                    <!--Recall that the syntax here for name actually creates a blog object within our req.body
                        Therefore, if we want to reference our blog object or pass it into our index.ejs we would just
                        pass it in as req.body.blog
                    -->
                    <div class="field">
                        <label> Title </label>
                        <input type="text" name="title" value="<%=thisPin.properties.title%>">
                    </div>

                    <div class='field'>
                        <label> Project Type </label>
                        <div class='ui selection dropdown'>
                            <input type='hidden' name='project_type'>
                            <i class='dropdown icon'></i>
                            <div class='default text'> Select </div>
                            <div class='menu'>
                                <div class='item' data-value='project'> Independent Project</div>
                                <div class='item' data-value='organization'>Organization</div>
                                <div class='item' data-value='research'>Research</div>
                                <div class='item' data-value='course'>Course</div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $('.ui.dropdown')
                            .dropdown()
                        ;
                    </script>

                    <div class="field">
                        <label> Project Description </label>
                        <textarea name="description" value="<%=thisPin.properties.description%>"></textarea>
                    </div>

                    <div class="field">
                        <label> Project Website </label>
                        <input type="text" name="project_website" value="<%=thisPin.properties.project_website%>">
                    </div>

                    <div class="field">
                        <label> Include an image for your project! </label>
                        <input type="text" name="img" value="<%= thisPin.properties.img %>"> 
                    </div>

                    <div class='two fields'>
                        <div class='field'>
                            <label> Location of your project </label>
                            <input type='text' name='building' value="<%=thisPin.properties.building %>">
                        </div>
                        <div class='field'>
                            <label> Room Number </label>
                            <input type='text' name='room_number' value="<%= thisPin.properties.room_number%>">
                        </div>
                    </div>

                    <div class="field">
                        <label> Other community partners? </label>
                        <input type="text" name="community_partners" value="<%= thisPin.properties.community_partners%>">
                    </div>

                    <div class="field">
                        <label> Project Mission </label>
                        <input type="text" name="project_mission" value="<%=thisPin.properties.project_mission%>">
                    </div>

                    <!--
                    <div class="field">
                        <label> Address </label>
                        <div class="fields">
                            <div class="twelve wide field">
                                <input type="text" name="address" value="<%= thisPin.properties.address %>">
                            </div>
                        </div>
                    </div>


                    <div class= "field">
                        <label> City </label>
                        <input type="text" name="city" value="<%=thisPin.properties.city%>">
                    </div>

                    <div class= "field">
                        <label> State </label>
                        <input type="text" name="state" value="<%=thisPin.properties.state%>">
                    </div>

                    <div class="field">
                        <label> Zip code </label>
                        <input type="text" name="zip" value="<%=thisPin.properties.zip%>">
                    </div>

                    <div class="field">
                        <label> Country </label>
                        <input type="text" name="country" value="<%= thisPin.properties.country %>">
                    </div>
                    -->

                    <div class="field">
                        <input class="ui violet big inverted button" type="submit">
                    </div>

                </form>
            </div>
        </div>
    </div>

<% include ../partials/FOOT %>
