<% include ../partials/HEAD %>

    <div id="wrap">
        <div id="main">
            <div class="ui main text container segment" style="margin-top: 10px;">
                <h1 class="ui dividing header"> <%= thisPin.properties.title %> </h1>
                <div class="card">
                    <div class="card-body">
                        <p> <%= thisPin.properties.description %> </p>
                        <p> <%= thisPin.properties.project_website %> </p>
                        <p> <%= thisPin.properties.img %> </p>
                        <p> <%= thisPin.properties.building %> </p>
                        <p> <%= thisPin.properties.room_number %> </p>
                        <p> <%= thisPin.properties.community_partners %> </p>
                        <p> <%= thisPin.properties.project_mission %> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/FOOT %>
